<div class="comment">
    <a class="comment-creator-link" href="/user/{{ this.commentCreator }}">
        <p class="comment-creator">@{{ this.commentCreator }}</p>
    </a>
    <p class="comment-date">{{ formatDate this.createdAt 'MMMM Do YYYY, h:mm:ss a' }}</p>
    <p class="comment-content">{{ this.comment }}</p>
    <div class="comment-controls">
        <p class="comment-votes">{{ this.votes }} votes</p>
        <form action="/comment/{{ this._id }}/upvote" method="POST" class="post-control-form">
            <button type="submit" class="post-control-button upvote-button">
                <img class="post-icon upvote-icon button-svg" src="/svg/arrow-up.svg" alt="Upvote">
            </button>
        </form>
        <form action="/comment/{{ this._id }}/downvote" method="POST" class="post-control-form">
            <button type="submit" class="post-control-button downvote-button">
                <img class="post-icon downvote-icon button-svg" src="/svg/arrow-down.svg" alt="Downvote">
            </button>
        </form>
    </div>
</div>