<div id="main-page">
    {{>sidebar}}
    <div id="main-content">
        <div id="post-page-controls">
            
            {{#unless (eq loggedUser null)}}
                <a href="/create-post" id="create-post">
                    <img src="/svg/plus.svg" class="inverted-button-svg" id="sort-dropdown"></img>
                    <p>Create post</p>
                </a>
            {{/unless}}
        </div>
        {{#each posts}}
            {{#unless this.isDeleted}}
                {{>post}}
            {{/unless}}
        {{/each}}        
        <div class="pagination">
            {{#if hasPrevPage}}
                <a href="/?page={{prevPage}}" class="pagination-button">
                    Previous
                </a>
            {{else}}
                <p class="pagination-button disabled-button">
                    Previous
                </p>
            {{/if}}

            <span>Page {{currentPage}} of {{totalPages}}</span>

            {{#if hasNextPage}}
                <a href="/?page={{nextPage}}" class="pagination-button">
                    Next
                </a>
            {{else}}
                <p class="pagination-button disabled-button">
                    Next
                </p>
            {{/if}}
        </div>
    </div>
</div>
<div id="copyright-section">
    <a href="/about">rabble* 2025</a>
</div>