<div id="main-page">
    <div id="main-content">
        {{>sidebar}}
        <div id="post-container">
            <div id="back-button" onclick="history.back()">
                <img class="button-svg" id="back-icon" src="/svg/arrow-left.svg">
            </div>

            <ul id="post-tags"></ul>

            <a id="post-creator-link" href="/user/{{ postCreator }}">
                <p id="post-creator">@{{ postCreator }}</p>
            </a>
            <p id="post-date">{{ formatDate post.createdAt 'MMMM Do YYYY, h:mm:ss a' }}</p>

            <h1 id="post-header">{{ post.title }}</h1>


            <p id="post-content">{{ post.content }}</p>

            <div class="post-controls-container">
                <div class="post_votes">
                    <p class="vote-counter">{{ post.votes }} votes</p>
                </div>
                <div class="post-controls">
                    <form action="/post/{{ post._id }}/upvote" method="POST" class="post-control-form">
                        <button class="post-control-button upvote-button">
                            <img class="post-icon upvote-icon button-svg" src="/svg/arrow-up.svg">
                        </button>
                    </form>
                    <form action="/post/{{ post._id }}/downvote" method="POST" class="post-control-form">
                        <button class="post-control-button downvote-button">
                            <img class="post-icon downvote-icon button-svg" src="/svg/arrow-down.svg">
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div id="comments-section">
            <h2 id="comments-header">Comments</h2>
            {{#unless (eq loggedUser null)}}
                <form id="comment-creator" action="/create-comment/resp" method="POST">
                    <input type="hidden" name="postId" value="{{ post._id }}">
                    <input name="comment" type="text" id="comment-box" placeholder="say something about the post"></input>
                    <button id="comment-send" type="submit">
                        <img src="/svg/send.svg" id="comment-send-button" class="button-svg" />
                        <p>Send</p>
                    </button>
                </form>
            {{else}}
            <div id="login">
                <p>Please <a href="/account/login">log in</a> to leave a comment</p>
            </div>
            {{/unless}}
            <div class="comments-container">
                {{#each comments}}
                    {{>comment}}
                {{/each}}
            </div>
        </div>
    </div>
</div>