<div id="main-page">
    <div id="main-content">
        {{>sidebar}}
        <div id="post-container">
            <div id="back-button" onclick="history.back()">
                <img class="button-svg" id="back-icon" src="/svg/arrow-left.svg">
            </div>

            <ul id="post-tags"></ul>

            <a id="post-creator-link" href="/user/{{ postCreator }}">
                <p id="post-creator">@{{ postCreator }}</p>
            </a>
            <p id="post-date">{{ formatDate post.datePosted 'MMMM Do YYYY, h:mm:ss a' }}</p>

            <h1 id="post-header">{{ post.title }}</h1>


            <p id="post-content">{{ post.content }}</p>

            <div class="post-controls-container">
                <div class="post_votes">
                    <p class="vote-counter">{{ post.votes }} votes</p>
                </div>
                <div class="post-controls">
                    <div class="post-control-button upvote-button">
                        <img class="post-icon upvote-icon button-svg" src="/svg/arrow-up.svg">
                    </div>
                    <div class="post-control-button downvote-button">
                        <img class="post-icon downvote-icon button-svg" src="/svg/arrow-down.svg">
                    </div>
                </div>
            </div>
        </div>
        <div id="comments-section">
            <h2 id="comments-header">Comments</h2>
            <div id="comment-creator">
                <input type="text" id="comment-box" placeholder="say something about the post"></input>
                <button id="comment-send">Send</button>
            </div>
        </div>
    </div>
</div>