<div id="profile-page-container">
    {{>sidebar}}
    <div id="profile-page">
        <div class="background-image-section" style="background-image: url('{{user.backgroundImg}}')"></div>

        <div class="user-information-section">
            <img class="profile-picture" src="{{user.profileImg}}">
            <div class="user-informations">
                <div class="username-section">
                    <p class="username"><span class="userFLnames">{{user.fName}} {{user.lName}}</span> &#64;{{user.username}}</p>

                    {{{editProfileIcon user loggedUser}}}
                </div>
                
                <p class="description">{{user.description}}</p>
            </div>
        </div>

        <div id="main-content">
            {{#each posts}}
                <div class="post">
                    <div class="post-info-controls">
                        <hgroup class="post-info">
                            <ul class="post-tags"></ul>
                            <div class="post-user-container">    
                                {{{deleteIcon ../user ../loggedUser this._id}}}
                            </div>
                            <p class="post-user">{{formatDate this.createdAt 'MMMM Do YYYY, h:mm:ss a'}}</p>
                            <a class="post-link" href="/post/{{this._id}}">
                                <h3 class="post-title">{{this.title}}</h3>
                            </a>
                            <p class="description">{{truncate (stripTags this.content) 450}}</p>
                        </hgroup>

                        <div class="post-controls-container">
                            <div class="post-votes">
                                <p class="vote-counter">{{this.votes}} votes</p>
                            </div>

                            <div class="post-controls">
                                <div class="post-control-button upvote-button">
                                    <img class="post-icon upvote-icon button-svg" src="/svg/arrow-up.svg"></img>
                                </div>

                                <div class="post-control-button downvote-button">
                                    <img class="post-icon downvote-icon button-svg" src="/svg/arrow-down.svg"></img>
                                </div>
                                
                                {{{editPostIcon this.postCreator ../loggedUser this._id}}}
                            </div>
                        </div>

                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>