<div class="background-image-section" style="background-image: url('{{user.backgroundImg}}')"></div>

<div class="user-information-section">
    <img class="profile-picture" src="{{user.profileImg}}">
    <div class="user-informations">
        <div class="username-section">
            <p class="username"><span class="userFLnames">{{user.fName}} {{user.lName}}</span> &#64;{{user.username}}</p>

            <button class="btnEdit">Edit Profile</button>
        </div>
        
        <p class="description">{{user.description}}</p>
    </div>
</div>

<div id="main-content">
    <!--todo: add main content -->
</div>